<a href="https://colab.research.google.com/github/ng328/ML-DL_Projects/blob/main/knn_with_get_dummies(Purchased_user).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [ ]:
df=pd.read_csv("/content/sample_data/User_Data.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [ ]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [ ]:
df.isnull()

     User ID  Gender    Age  EstimatedSalary  Purchased
0      False   False  False            False      False
1      False   False  False            False      False
2      False   False  False            False      False
3      False   False  False            False      False
4      False   False  False            False      False
..       ...     ...    ...              ...        ...
395    False   False  False            False      False
396    False   False  False            False      False
397    False   False  False            False      False
398    False   False  False            False      False
399    False   False  False            False      False

[400 rows x 5 columns]

In [ ]:
X=df.drop('Purchased',axis=1)
print(X)

      User ID  Gender  Age  EstimatedSalary
0    15624510    Male   19            19000
1    15810944    Male   35            20000
2    15668575  Female   26            43000
3    15603246  Female   27            57000
4    15804002    Male   19            76000
..        ...     ...  ...              ...
395  15691863  Female   46            41000
396  15706071    Male   51            23000
397  15654296  Female   50            20000
398  15755018    Male   36            33000
399  15594041  Female   49            36000

[400 rows x 4 columns]

In [ ]:
Y=df['Purchased']

In [ ]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [ ]:
Gender=pd.get_dummies(X['Gender'],drop_first=True)

In [ ]:
X=X.drop('Gender',axis=1)

In [ ]:
X=pd.concat([X,Gender],axis=1)

In [ ]:
X

      User ID  Age  EstimatedSalary  Male
0    15624510   19            19000     1
1    15810944   35            20000     1
2    15668575   26            43000     0
3    15603246   27            57000     0
4    15804002   19            76000     1
..        ...  ...              ...   ...
395  15691863   46            41000     0
396  15706071   51            23000     1
397  15654296   50            20000     0
398  15755018   36            33000     1
399  15594041   49            36000     0

[400 rows x 4 columns]

In [ ]:
from sklearn.model_selection import  train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [ ]:
y_pred=knn.predict(x_test)
y_pred

array([1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0])

In [ ]:
c=pd.DataFrame(zip(y_test,y_pred))
c.head()

   0  1
0  0  1
1  1  0
2  0  0
3  1  0
4  0  1

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score
y_pred=knn.predict(x_test)

In [ ]:
cm=confusion_matrix(y_test,y_pred)

In [ ]:
print(cm)

[[43  9]
 [14 14]]

In [ ]:
from sklearn.metrics import accuracy_score
sc=accuracy_score(y_test,y_pred)
sc

0.725

In [ ]:
print("wrong prediction",(1-accuracy_score(y_test,y_pred)))

wrong prediction 0.2875

In [ ]:
from sklearn.metrics import classification_report
re=classification_report(y_test,y_pred)
print(re)

              precision    recall  f1-score   support

           0       0.75      0.83      0.79        52
           1       0.61      0.50      0.55        28

    accuracy                           0.71        80
   macro avg       0.68      0.66      0.67        80
weighted avg       0.70      0.71      0.71        80

In [ ]:
x_new=np.array([[15624510,	19,	24000,	0]])
prediction=knn.predict(x_new)
df['Purchased'][prediction]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

1    0
Name: Purchased, dtype: int64